mcd() {
	mkdir $1 && cd $1
}

alias j='jobs'
alias k='kubectl'
alias q='exit'
alias r='ranger'
alias s='kitten ssh'
alias t='/usr/bin/tmux att'
alias ls='/usr/bin/ls -cAF --color=auto'
alias ai='aichat'
alias em='emacs 2> /dev/null'
alias rm='/usr/bin/rm -rfv'
alias py='/usr/bin/python3'
alias mv='/usr/bin/mv -v'
alias cp='/usr/bin/cp -rv'
alias aws='docker run --rm -it -v ~/.aws:/root/.aws:z -v $(pwd):/aws amazon/aws-cli'
alias cat='bat -p'
alias vim='nvim'
alias htop='btop' # htop on steroids
alias icat='kitten icat'
alias wget='wget --continue'
alias tree="tree -I '__pycache__|*pyc'" # use pipe as delim
alias dive='docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock wagoodman/dive:latest'
alias cotu='docker run --rm -it sntshk/cotu'
alias grep='grep -Ei --color=auto'
alias ffmpeg='ffmpeg -hide_banner'
alias claude='ai -m claude:claude-3-5-sonnet-20240620'
alias chatgpt='ai -m openai:gpt-4o'
alias gemini='ai -m gemini:gemini-1.0-pro-latest'
alias balias='vim ~/.aliases && source ~/.aliases'
# alias kubectl='minikube kubectl --'
alias myinstances="aws ec2 describe-instances --query 'Reservations[*].Instances[*].[InstanceType,Placement.AvailabilityZone,PrivateIpAddress,PublicIpAddress,State.Name,Architecture,CpuOptions.CoreCount,InstanceId]' --output table"
alias efsmount='sudo mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport fs-de09280f.efs.ap-south-1.amazonaws.com:/ /efs'

# On Debian based systems, bat is batcat
if [ -f "/etc/debian_version" ]; then
	alias cat='batcat -p'
fi

# vim: ft=sh
