[user]
	email = sntshkmr60@gmail.com
	name = Santosh Kumar
[push]
    default = current
[color]
    ui = auto
[core]
    editor = vim
[diff]
	tool = vimdiff
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
    l =  log --oneline --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'  -n 15
    ls = status
    pushall = "!git remote | xargs -L1 git push --all"
    g = grep --break --heading --line-number
[http]
	cookiefile = /home/sntshk/.gitcookies
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool]
	prompt = false
[grep]
	extendRegexp = true
	lineNumber = true
